body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section styling */
header {
    background: rgb(65, 111, 195);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/* end header styling */


/* Nav bar styling */
#navigationBar {
    background-color: rgb(76, 72, 72);
    /* In order for sticky to work I had to use the top property and set it to 0 */
    position: sticky;
    top: 0;
    
}

#navigationBar a {
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    padding: 15px;
}

/* End nav styling */


/* Page content Styling */
.pageContent {
    padding: 1.5%;
    display: flex;
}

.sideBar {
    /* sets size of columns relative to flex */
    flex: 30%;
    padding-right: 2%;
    }
    .main{
    /* sets size of columns relative to flex */
        flex: 70%;
    }

img {
    width: 100%
}


/* Media Queries */
@media screen and (max-width: 700px) {
    #navigationBar {
        position: relative;
    }

    .pageContent {
        flex-direction: column;
    }
}