body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: cornflowerblue;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

